<div class="list_title"><i class="fas fa-list"></i> Table of contents</div>
<ul class="sidebar_list">
  <% pages.forEach(page => { %>
    <div class="sidebar_list_item">
      <button class="btn btn-sm list_heading <%= page.dirClass %> sub-<%= page.dirLevel %>"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#<%= page.dirClass %>"
        aria-expanded="true"
        aria-controls="<%= page.dirClass %>">
        <%= page.dirName %>
      </button>
        <ul id="<%= page.dirClass %>" class="list_files collapse show">
        <% page.files.forEach(file => { %>
          <% if (file == name) { %>
            <li class="list_item"><a class="nav-link active" href="<%= file.fileName %>.html"><%= file.fileName %></a></li>
          <% } else { %>
            <li class="list_item"><a class="nav-link" href="<%= file.fileName %>.html"><%= file.fileName %></a></li>
          <% } %>
        <% }) %>
      </ul>
    </div>
  <% }) %>
</ul>
<%- include('./footer'); %>