<!DOCTYPE html>
<html lang="en">
<head>
  <!-- consumes 'title' variable -->
  <%- await include('./partials/head'); %>
</head>
<body>
<header>
  <%- await include('./partials/nav'); %>
</header>

<div class="container-fluid">
  <div class="full_content row">
    <div class="sidebar col-2">
      <!-- consumes 'sidebarPages' variable -->
      <%- await include('./partials/sidebar'); %>
    </div>
    <div class="content_area col-8">
      <!-- consumes 'content' variable -->
      <%- await html %>
    </div>
    <div class="toc col-2">
      <!-- consumes 'tableOfContents' variable -->
      <%- await include('./partials/toc'); %> 
    </div>
  </div>
</div>
<%- await include('./partials/scripts'); %>
</body>
</html>